


  
  /* expose the following view timelines for any elements to observe by name */
  
  /* give each section it's relevant view timeline name */
  /* note: this must match the name exposed on the body timeline-scope */
 

 


  section {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;}

    section img {
      width: 100%;
      height: -webkit-fill-available;
      background: antiquewhite;
      padding: 10px;
      border-radius: 10px;
  }

  section img {width: 100%;
    height: -webkit-fill-available;}
  
  .card { padding: 9px;
    box-shadow: var(--secondary-shadow);
    border: 1px solid var(--primary-border);
    border-radius: 7px;}


.card-img{
  height: 50vh;
  background-position: top;
  background-size: cover;
  border-radius: 10px;
}

/*  */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  outline: none;
  border: none;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
}


 #upload{
  margin-bottom: 7rem;
}



.container_nav{
  position: fixed;
  z-index: 999;
  bottom: -10px;
  width: 100%;
  height: 5rem;
  background: inherit;
  background: black;

}

.bottom-nav {
  background: #040404;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: 50px;

}
.bottom-nav input {
  display: none;
}
.bottom-nav label {
  cursor: pointer;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5c4da;
  z-index: 200;
  position: relative;
}



.bottom-nav ion-icon {
  color: inherit;
}
.bottom-nav input:checked + .home {
  color: #ff90b5;
}
.bottom-nav input:checked + .home > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .home::before {
  background: #ffdfea;
  transform: scale(1);
}
/* .bottom-nav input:checked + .cart {
  color: #A439F1;
} */
.bottom-nav input:checked + .cart > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .cart::before {
  background: #d9bcee;
  transform: scale(1);
}
.bottom-nav input:checked + .fav {
  color: #00d1c7;
}
.bottom-nav input:checked + .fav > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .fav::before {
  background: #c3eeec;
  transform: scale(1);
}
.bottom-nav input:checked + .profile {
  color: #ffc460;
}
.bottom-nav input:checked + .profile > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .profile::before {
  background: #ffebc7;
  transform: scale(1);
}
.bottom-nav input:checked + label .fill {
  transform: scale(1);
  opacity: 1;
}

.fill {
  position: absolute;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

audio.audioPlayer {
  margin: 5px;
}

/* -
-*-~*~-*-*-~*~-*-*-~*~* |
●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
Made by ~
Areal Alien ❥ 雷克斯
●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
-*-~*~-*-*-~*~-*-*-~*~* |
- */
:root {
  --bc: #efeeee;
  --white: #ffffff;
  --white: #000000;
  --dark-blue: #1f2029;
  --extra-dark-blue: #13141a;
  --dark-light: #424455;
  --red: #da2c4d;
  --dark-red: #6e1727;
  --yellow: #f8ab37;
  --grey: #ecedf3;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --green: #28a745;
  --light-green: #24e33a;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --primary: #d1a9de;
  --secondary: #7015b3;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
  width: 100%;
  min-height: 100vh;
	overflow-x: hidden;
	font-family: var(--font-family-sans-serif);
  scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
  background-color: var(--light-mode-brig);
}
/* Classes */
.space {
  margin: 1em 0;
}
/* User Header */
.user-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .uh-image {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

svg {
  width: 25px;
  height: 25px;
}

/* main{
  border-radius: 50px 50px 0px 0px !important;
} */


/* .cover{
  width: auto;
  height: 30vh;
  background:#040404;
  margin: 10px;
  border-radius: 10px;
 
} */

.user-header-wrapper{
  display: block;
}

.uh-image {
  margin-top: -10vh;
  z-index: 999;
  left: 39%;
  margin-bottom: 10px;
}



.gradient {
  width: 100px;
  height:100px;
  padding: .3em;
  position: absolute;
  border-radius: 50%;
background-image: url(/ID/img/me.png);
  background-position: top;
background-size: cover;

border: 5px solid white;
margin: auto;
margin-top: -13vh;
/* left: 37%; */

}



.uh-right {
  padding: 1em;
  height: 100%;

}
.user-info {
  font-size: 2em;
  margin:  10px 0;
/* text-align: center; */
}

.ui--section-title span {
  border-bottom: 5px solid orangered;
  margin-bottom: 2vh;
}

.user-info h3 {
  font-size: 20px;
  display: -webkit-inline-box;
    align-items: center;
  gap: 10px;

}


.threads{
  padding:  5px 20px;
  color: white;
  border-radius: 30px;
  width: auto;
  margin: 8px 0;
  background: #040404;
}

.threads a {
  color: white;
  text-decoration: none;
}


.uname-verified {
  height: 0.8rem;
}
.btn {
  margin: 1em;
  border-radius: 3px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  padding: .4em .6em;
  cursor: pointer;
  color: var(--white);
}
.user-links a {
  cursor: pointer;
  display: flex;
}
.user-links h2 {
  font-weight: bolder;
  margin: 0;
  font-size: 18px;
}
.user-bio-name {
  font-weight: bold;
}
/* User stories */
.user-stories {
  margin: 2em 0 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-stories-inner {
  width: 100%;
 display: flex;
}
.story-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.story-wrapper h2 {
  margin: .25em;
  font-size: 1.1em;
  font-weight: 400;
}
.story-inner {
  width: 75%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.story-inner{
  width: 80px;
height: 80px;
background: #040404;}

.story-inner:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.story-img {
  width:80px;
  height:80px;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid var(--blue);

}
/* User Page */
.user-page-wrapper {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}
.user-page-inner {
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.image-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.img-overlay-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity .15s ease-in-out;
}
.img-btns {
  font-size: 1.3em;
  color: var(--white);
  z-index: 10;
}
.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9;
}
.image-block {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.block {
  width: 60%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-mode-brig);
  z-index: 20;
}
.block-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  z-index: 19;
}
/* User Loader */
.user-loader {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  width: 75px;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  width: 100%;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
/* Keyframes */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: var(--red);
  }
  40% {
    stroke: var(--blue);
  }
  66% {
    stroke: var(--green);
  }
  80%, 90% {
    stroke: var(--yellow);
  }
}
@media (max-width: 1024px) {




  .story-wrapper {
    margin: 0 1em;
  }
  .user-page-inner {
    width: 85%;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
  .img-btns {
    font-size: 1.1em;
  }
}
@media (max-width: 936px) {
  .user-header-inner {
    width: 100%;
  }
  .uh-left {
    padding: 0 1em 0 0;
  }


  .user-stories-inner {
    width: 100%;
  }
  .story-wrapper {
    margin: 0 .5em;
  }
  .user-page-inner {
    width: 90%;
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
  }
  .img-btns {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  .uh-left {
    padding: 0;
  }

  .story-wrapper {
    margin: 0 .25em;
  }
  .user-page-inner {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  .img-btns {
    font-size: .8em;
  }
}




/* ._user {
  display: block;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
height: 20vh;
} */

.user-header-inner {
  width: 100%;
  
}

.user-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}





/*  */
@charset "UTF-8";
:root {
  --primary-bg: #f4f4f4;
  --primary-fg: #ebefef;
  --primary-shadow: #d3e3e0;
  --primary-border: rgba(189, 201, 199, 0.5);
  --secondary-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;

}

body {
  background-color: var(--primary-bg);
}

.container {
  width: 100%;
  height: 900px;
  padding: 50px;
  box-shadow: 1px 2px 29px 2px var(--primary-shadow);
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-template-rows: 1fr;
  gap: 0px 25px;
  grid-template-areas: "screen-1 screen-2 screen-3";

}

.screen-1,
.screen-2,
.screen-3,.user-header-wrapper ,.modal {
  /* backdrop-filter: blur(40px); */
  /* background: rgba(189, 201, 199, 0.25); */
  padding: 16px 24px;
  overflow: hidden;
}



.screen-1 {
  grid-area: screen-1;
  align-self: start;
}

.screen-2 {
  grid-area: screen-2;
  align-self: center;
}

.screen-3 {
  grid-area: screen-3;
  align-self: end;
}

.ui--statusbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ui--statusbar span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.ui--screen-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 0 24px 0;
}

.ui--screen-title {
  font-size: 36px;
  margin-bottom: 8px;
  pointer-events: none;
}

.ui--dropdown-menu {
  position: relative;
}
.ui--dropdown-menu:focus-within .dropdown-item {
  display: block;
}
.ui--dropdown-menu .dropdown-toggle {
  all: unset;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}
.ui--dropdown-menu .dropdown-toggle.arrow::after {
  content: "›";
  position: absolute;
  transform: rotate(90deg);
  right: -16px;
  bottom: -8px;
  font-size: 24px;
}
.ui--dropdown-menu .dropdown-toggle.arrow:focus::after {
  transform: rotate(270deg);
  right: -10px;
}
.ui--dropdown-menu .dropdown-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  display: none;
  z-index: 3;
  transition: all 0.5s ease;
  list-style: none;
  margin: 36px 0 0 0;
  padding: 0;
  text-align: center;
  background: var(--primary-fg);
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  backdrop-filter: blur(40px);
}
.ui--dropdown-menu .dropdown-item.right {
  right: -80px;
  left: unset;
  text-align: left;
}
.ui--dropdown-menu .dropdown-item li {
  padding: 8px 12px;
  margin: 6px 0;
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
}

.ui--screen-section + .ui--screen-section {
  margin-top: 36px;
}

.ui--screen-section .ui--section-title {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui--horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  padding: 9px 9px 18px 0;
  column-gap: 12px;
}



.ui--card {
  display: flex;
  flex-direction: row;
  align-items: center;
  backdrop-filter: blur(40px);
  width: 100%;
  padding: 9px;
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--primary-border);
  border-radius: 7px;
}


.ui--card a svg{
  width: 25px;
  height:25px;
  color: white;
}


div#upload{
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  margin: 16px 24px;
    width: -webkit-fill-available;
}

/* ammar */







.ui--card.ui--card-square {
  flex-direction: column;
  /* aspect-ratio: 1/1; */


}
.ui--card.ui--card-square-sm {
  flex-direction: column;
  aspect-ratio: 1/1;
  justify-content: center;
}
.ui--card.ui--card-square-sm .ui-card--icon {
  width: 25px;
  height: 25px;
}
.ui--card.ui--card-square-sm .ui-card--icon.active {
  filter: sepia(1) brightness(1.25) contrast(2.5);
}
.ui--card .ui-card--title {
  margin-top: 0;
  display: block;
  pointer-events: none;
}
.ui--card .ui-card--subtitle {
  color: #666;
  font-size: 12px;
  pointer-events: none;
}
.ui--card .ui-card--value {
  margin: auto;
  font-size: 36px;
  pointer-events: none;
}
.ui--card .ui-card--value .suffix {
  font-size: 14px;
  vertical-align: super;
  margin-left: 2px;
}
.ui--card .ui-card--icon {
  font-size: 0px;
  width: 22px;
  height: 22px;
}

.ui--stack .ui--card .ui-card--icon {
  margin-right: 12px;
}



.ui--stack .ui--card{
  display: grid;
  gap: 10px;
  align-items: center;
}

.ui--stack .ui--card .ui--toggle {
  margin: auto;
}


.ui--toggle {
  /* background: aliceblue; */
  display: grid;
  align-items: center;
  justify-content: center;
}

.ui--stack-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 12px;
  margin: 9px 0;
}
.ui--stack-horizontal .vertical-separator {
  width: 1px;
  background: #ccc;
}

h5{
  margin-top: 1vh;
  font-weight: normal;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 90.5% !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


   .HTML_Audio_player{
   Position: relative;
     width:350px;
     background: #faf3f4;
     box-shadow: 0 50px 80px rgba(0,0,0,0.25); 
   }
   
   .HTML_Audio_player .Audio_Player_image{
    position: relative;
     width:100%;
     height: 350px;
     
   }
   
   .HTML_Audio_player .Audio_Player_image img{
    position: absolute;
     top:0;
     bottom: 0;
     width: 100%;
     height:100%;
     object-fit: cover;
     
   }
   
   .HTML_Audio_player audio {
   width: 100%;
   outline: none;
   }
      
      .song-name { font-size:18px;
        font-weight:600;
        display: flex;
         justify-content: center;
         margin-top: 10px;
   }
   audio::-webkit-media-controls-play-button {
      background-color: orangered;
      border-radius: 50%;}

.ui--stack {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 9px 0;
}

.ui--toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  float: left;
}
.ui--toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 18px;
  background: grey;
  display: block;
  border-radius: 35px;
  position: relative;
}
.ui--toggle label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 18px;
  transition: 0.3s;
}
.ui--toggle input:checked + label {
  background: #e27708;
}
.ui--toggle input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
.ui--toggle label:active:after {
  width: 16px;
}

.ui--button input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  float: left;
}
.ui--button label {
  cursor: pointer;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
}
.ui--button input:checked + label {
  filter: sepia(1) brightness(1.25) contrast(2.5);
}

.ui--dial-wrapper {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  position: relative;
}

.ui-dial--outer {
  position: relative;
}

#range--selector {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  box-shadow: var(--secondary-shadow);
  backdrop-filter: blur(40px);
  border: 1px solid var(--primary-border);
  top: 8px;
  left: 52.5%;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
#range--selector::before {
  content: "18°C";
  color: #666;
  font-size: 14px;
  position: absolute;
  top: -28px;
  opacity: 0;
  transition: opacity 0.2s;
}
#range--selector:hover::before {
  opacity: 1;
}

#range {
  position: relative;
  width: 250px;
  height: 125px;
  border-radius: 125px 125px 10px 10px;
  border: 30px solid transparent;
  background-clip: padding-box;
  border-bottom: 0;
}
#range::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: 0;
  left: -12px;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, #185c52, #18723e, #62a613, #e27708, #ff1400);
  opacity: 0.65;
}
/* #range::after {
  content: "";
  position: absolute;
  top: -35px;
  right: 25px;
  height: 20px;
  width: 20px;
  color: #666;
  transform: rotate(80deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 297 297'%3E %3Cpath fill='%2342a693' d='m294 279-39-39c6-25 27-119-19-164C186 26 19 1 12 0 9 0 5 1 3 3s-3 6-3 9c1 7 26 174 76 224 19 19 49 29 88 29 33 0 63-7 76-10l39 39a10 10 0 0 0 15 0c4-4 4-11 0-15zm-130-35c-34 0-58-8-73-23-19-18-37-61-52-122-8-31-13-59-16-76 17 3 45 8 76 16 61 15 104 33 122 52 32 32 23 99 16 131l-63-63v-40a10 10 0 0 0-21 0v19l-48-48a11 11 0 0 0-15 15l11 11H83a10 10 0 0 0 0 21h39l52 52h-18a10 10 0 0 0 0 21h39l27 27c-14 3-36 7-58 7z'/%3E %3C/svg%3E");
} */

.ui--dial-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--primary-fg);
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--primary-border);
  pointer-events: none;
}

.ui--dial-status {
  font-size: 14px;
  margin-top: -4px;
}

.ui--dial-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 56px;
  line-height: 1;
}
.ui--dial-value .suffix {
  font-size: 18px;
  width: 0px;
  float: right;
  margin-top: 9px;
  margin-left: 3px;
}

.ui--detail {
  text-align: center;
}
.ui--detail .ui--detail-title {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}
.ui--detail .ui--detail-value {
  font-size: 20px;
}

.ui--graph {
  position: relative;
  height: 180px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 640 334'%3E %3Cdefs%3E %3ClinearGradient id='a'%3E %3Cstop offset='0' stop-color='%23185c52'/%3E %3Cstop offset='1' stop-color='%2317cab4'/%3E %3C/linearGradient%3E %3ClinearGradient xlink:href='%23a' id='b' x1='-.3' x2='640.3' y1='224.9' y2='224.9' gradientUnits='userSpaceOnUse'/%3E %3C/defs%3E %3Cpath fill='none' stroke='%23ccc' stroke-width='1.5' d='M182 0v334M272 0v334M365 0v334M91 0v334'/%3E %3Cpath fill='none' d='M0 328c18-5 55-9 91-24 36-14 55-34 91-47 36-14 55-2 91-19 36-16 55-50 91-64s55 6 91-4 55-41 91-47 73 13 91 17'/%3E %3Cpath fill='none' stroke='%23ccc' stroke-width='1.5' d='M455 0v334M547 0v334'/%3E %3Cpath fill='none' stroke='url(%23b)' stroke-width='4' d='M0 328c18-5 55-9 91-24 36-14 55-34 91-47 36-14 55-2 91-19 36-16 55-50 91-64s55 6 91-4 55-41 91-47 76 13 94 17'/%3E %3C/svg%3E");
  background-size: contain;
  background-color: var(--primary-fg);
  box-shadow: var(--secondary-shadow);
  border: 1px solid var(--primary-border);
  border-radius: 5px;
  margin: 0px;
  width: -webkit-fill-available;
}


.ui-graph--marker::after {
  content: "8.021 kWh";
  opacity: 0;
  width: max-content;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
}
.ui-graph--marker:hover::after {
  opacity: 1;
}

.ui--chart-pie {
  width: 70px;
  aspect-ratio: 1/1;
  position: relative;
  display: inline-grid;
  margin: 18px 6px 6px;
  place-content: center;
  color: #666;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.ui--chart-pie span {
  transition: opacity 0.2s;
}
.ui--chart-pie:hover span {
  opacity: 1;
}
.ui--chart-pie::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.ui--chart-pie::before {
  inset: 0;
  background: conic-gradient(#fda240 0%, #000000 calc(var(--p) * 1%), var(--primary-border) 0);
  -webkit-mask-image: radial-gradient(farthest-side, #0000 calc(99% - 5px), #000 calc(100% - 5px));
  mask-image: radial-gradient(farthest-side, #0000 calc(99% - 5px), #000 calc(100% - 5px));
}

.icon-lightbulb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 512 512'%3E %3Cpath fill='%23666666' d='M183 329v140c0 6 4 10 10 10h30a33 33 0 0 0 66 0h30c6 0 10-4 10-10V329a172 172 0 1 0-146 0zm73 163c-7 0-13-6-13-13h26c0 7-6 13-13 13zm53-95h-59a10 10 0 0 0 0 20h59v10h-59a10 10 0 0 0 0 21h59v11H203v-73h106ZM256 20a152 152 0 0 1 59 293c-3 2-6 5-6 9v44h-43V257l57-57a10 10 0 0 0-15-14l-59 60c-2 2-3 4-3 7v113h-43v-44c0-4-3-7-6-9a152 152 0 0 1 59-293z'/%3E %3Cpath  fill='%23666666' d='m276 294 30 30a10 10 0 0 0 15-15l-30-30a10 10 0 0 0-15 0c-4 4-4 11 0 15zm55 55 3 2a10 10 0 0 0 14-14l-3-3a10 10 0 0 0-14 0c-4 4-4 11 0 15z'/%3E %3C/svg%3E");
}

.icon-speaker {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 297 297'%3E %3Cpath fill='%23666' d='M239 0H58a33 33 0 0 0-34 33v231a33 33 0 0 0 34 33h181a33 33 0 0 0 34-33V33a33 33 0 0 0-34-33zm14 264a14 14 0 0 1-14 13H58a14 14 0 0 1-14-13V33a14 14 0 0 1 14-13h181a14 14 0 0 1 14 13v231z'/%3E %3Cpath fill='%23666' d='M149 126a71 71 0 1 0 0 143 71 71 0 0 0 0-143zm0 123a51 51 0 1 1 0-103 51 51 0 0 1 0 103zm0-148a24 24 0 1 0-1-48 24 24 0 0 0 1 48zm0-34a10 10 0 0 1 0 20 10 10 0 0 1 0-20z'/%3E %3Cpath fill='%23666' d='M149 120a43 43 0 1 0-1-86 43 43 0 0 0 1 86zm0-73a31 31 0 1 1-1 61 31 31 0 0 1 1-61zm0 109a41 41 0 0 0-42 41 41 41 0 0 0 83 0 41 41 0 0 0-42-41zm0 68a26 26 0 0 1-27-27 26 26 0 0 1 53 0 26 26 0 0 1-26 27zM67 31a7 7 0 0 0-5 2 7 7 0 0 0 5 12 7 7 0 0 0 5-12 7 7 0 0 0-5-2zm165 0a7 7 0 0 0-5 2 7 7 0 0 0 5 12 7 7 0 0 0 7-7c0-2 0-4-2-5a7 7 0 0 0-5-2zM67 250a7 7 0 0 0-5 3 7 7 0 0 0 5 11 7 7 0 0 0 7-7 7 7 0 0 0-2-4 7 7 0 0 0-5-3zm165 0a7 7 0 0 0-5 3 7 7 0 0 0-2 4 7 7 0 0 0 12 5 7 7 0 0 0 0-9 7 7 0 0 0-5-3z'/%3E %3C/svg%3E");
}

.icon-lock {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23666' d='M432 224h-48v-96a128 128 0 0 0-256 0v96H80a16 16 0 0 0-16 16v256a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16V240a16 16 0 0 0-16-16zm-272-96a96 96 0 0 1 192 0v96h-16v-96a80 80 0 0 0-160 0v96h-16v-96zm48 96v-96a48 48 0 0 1 96 0v96h-96zm208 256H96V256h320v224z'/%3E %3Cpath fill='%23666' d='M256 304a32 32 0 0 0-32 32 32 32 0 0 0 16 28v36a16 16 0 0 0 32 0v-36a32 32 0 0 0 16-28 32 32 0 0 0-32-32z'/%3E %3C/svg%3E");
}

.icon-eco {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 297 297'%3E %3Cpath fill='%23666666' d='m294 279-39-39c6-25 27-119-19-164C186 26 19 1 12 0 9 0 5 1 3 3s-3 6-3 9c1 7 26 174 76 224 19 19 49 29 88 29 33 0 63-7 76-10l39 39a10 10 0 0 0 15 0c4-4 4-11 0-15zm-130-35c-34 0-58-8-73-23-19-18-37-61-52-122-8-31-13-59-16-76 17 3 45 8 76 16 61 15 104 33 122 52 32 32 23 99 16 131l-63-63v-40a10 10 0 0 0-21 0v19l-48-48a11 11 0 0 0-15 15l11 11H83a10 10 0 0 0 0 21h39l52 52h-18a10 10 0 0 0 0 21h39l27 27c-14 3-36 7-58 7z'/%3E %3C/svg%3E");
}

.icon-air {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E %3Cpath fill='%23666666' d='M2.6 6.4c1.8-1.5 3.2-2.7 7-.6 1.7 1 3.2 1.4 4.4 1.4 2 0 3.5-1.2 4.6-2.2a1 1 0 0 0 .2-1.4 1 1 0 0 0-1.4-.2c-1.8 1.5-3.2 2.7-7 .6-4.9-2.8-7.2-.8-9 .8a1 1 0 0 0-.2 1.4 1 1 0 0 0 1.4.2zm14.8 2.1c-1.8 1.5-3.2 2.7-7 .6-4.9-2.8-7.2-.8-9 .8a1 1 0 0 0-.2 1.4 1 1 0 0 0 1.4.2c1.8-1.5 3.2-2.7 7-.6 1.7 1 3.2 1.4 4.4 1.4 2 0 3.5-1.2 4.6-2.2a1 1 0 0 0 .2-1.4 1 1 0 0 0-1.4-.2zm0 5.1c-1.8 1.5-3.2 2.7-7 .6-4.9-2.8-7.2-.8-9 .8a1 1 0 0 0-.2 1.4 1 1 0 0 0 1.4.2c1.8-1.5 3.2-2.7 7-.6 1.7 1 3.2 1.4 4.4 1.4 2 0 3.5-1.2 4.6-2.2a1 1 0 0 0 .2-1.4 1 1 0 0 0-1.4-.2z'/%3E %3C/svg%3E");
}

.icon-fan {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 165 165'%3E %3Cpath fill='%23666' d='M154 104c-8-7-17-8-24-10-5 0-8-1-12-3 19-4 34-14 41-29a48 48 0 0 0-1-45 35 35 0 0 0-27-17c-10-1-21 3-27 11a45 45 0 0 0-10 24l-3 12C87 28 77 13 62 6a48 48 0 0 0-45 1A35 35 0 0 0 0 34a32 32 0 0 0 11 27c8 7 16 8 24 9l12 4c-19 4-34 14-41 29a48 48 0 0 0 1 45 35 35 0 0 0 30 17c10 0 18-4 24-11 7-8 8-17 10-24 0-5 1-8 3-12 4 19 14 34 29 41a46 46 0 0 0 21 6c8 0 16-3 24-7a35 35 0 0 0 17-27c1-10-3-20-11-27zm-72-3a19 19 0 1 1 0-37 19 19 0 0 1 0 37zm27-64c1-6 2-11 6-16a17 17 0 0 1 15-6c6 1 12 4 15 9a33 33 0 0 1 1 31c-5 11-16 18-31 21a34 34 0 0 0-12-20c4-7 5-13 6-19zM21 50a17 17 0 0 1-6-15c1-6 4-12 9-15a33 33 0 0 1 31-1c11 5 18 16 21 30a34 34 0 0 0-20 13c-7-4-13-5-19-6s-11-2-16-6zm35 78c-1 6-2 11-6 16a17 17 0 0 1-15 6 20 20 0 0 1-15-9 33 33 0 0 1-1-31c5-11 16-18 30-21a34 34 0 0 0 13 20c-4 7-5 13-6 19zm94 2a20 20 0 0 1-9 15 33 33 0 0 1-31 1c-11-5-18-16-21-30a34 34 0 0 0 20-13c7 4 13 5 19 6s11 2 16 6a17 17 0 0 1 6 15z'/%3E %3C/svg%3E");
}

.icon-water {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='%23666666' d='M12 22c4.6 0 8-3.5 8-8.2 0-6.3-7.1-11.4-7.4-11.6a1 1 0 0 0-1.2 0C11.1 2.4 4 7.5 4 13.7c0 4.8 3.4 8.3 8 8.3zm0-17.7c1.6 1.3 6 5.2 6 9.5 0 3.6-2.5 6.2-6 6.2s-6-2.6-6-6.3c0-4.2 4.4-8.2 6-9.4z'/%3E %3C/svg%3E");
}



/* ............................... */

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,85%);
	--fg: hsl(var(--hue),10%,5%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (2560 - 320));
}
body,
button {
	font: 1em/1.5 Nunito, Helvetica, sans-serif;
}

.modal {
	color: hsl(var(--hue),10%,5%);
	width: 100%;
	overflow: hidden;
	position: relative;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
.modal:before {
	background-color: transparent;
	border-radius: 50%;
	content: "";
	filter: blur(60px);
	opacity: 0.15;
	position: absolute;
	top: -8em;
	right: -15em;
	width: 25em;
	height: 25em;
	z-index: 0;
	transition: background-color var(--trans-dur);
}
.modal__actions {
	animation-delay: 0.2s;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.modal__body,
.modal__header {
	position: relative;
	z-index: 1;
}
.modal__body {
	display: flex;
	flex-direction: column;
}
.modal__button,
.modal__close-button {
	color: currentColor;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.modal__button {
	background-color: hsla(var(--hue),10%,50%,0.2);
	border-radius: 0.25rem;
	font-size: 0.75em;
	padding: 0.5rem 2rem;
	transition:
		background-color var(--trans-dur),
		border-color var(--trans-dur),
		opacity var(--trans-dur);
	width: 100%;
}
.modal__button + .modal__button {
	margin-top: 0.75em;
}
.modal__button:disabled {
	opacity: 0.5;
}
.modal__button:focus,
.modal__close-button:focus {
	outline: transparent;
}
.modal__button:hover,
.modal__button:focus-visible {
	background-color: hsla(var(--hue),10%,60%,0.2);
}
.modal__button--upload {
	background-color: transparent;
	border: 0.125rem dashed hsla(var(--hue),10%,50%,0.4);
	flex: 1;
	padding: 0.375rem 2rem;
}
.modal__col + .modal__col {
	flex: 1;
	margin-top: 1.875em;
}
.modal__close-button,
.modal__message,
.modal__progress-value {
	color: hsl(var(--hue),10%,30%);
	transition: color var(--trans-dur);
}
.modal__close-button {
	background-color: transparent;
	display: flex;
	width: 1.5em;
	height: 1.5em;
	transition: color var(--trans-dur);
}
.modal__close-button:hover,
.modal__close-button:focus-visible {
	color: hsl(var(--hue),10%,40%);
}
.modal__close-icon {
	display: block;
	margin: auto;
	pointer-events: none;
	width: 50%;
	height: auto;
}
.modal__content > * {
	/* don’t use shorthand syntax, or actions delay will be overridden */
	animation-name: fadeSlideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	opacity: 0;
}
.modal__file {
	flex: 1;
	font-size: 0.75em;
	font-weight: 700;
	margin-right: 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.modal__file ~ .modal__button {
	margin-top: 1.5em;
}
.modal__file-icon {
	color: hsl(var(--hue),10%,50%);
	display: block;
	margin-right: 0.75em;
	width: 1.5em;
	height: 1.5em;
	transition: color var(--trans-dur);
}
.modal__header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 2.5em;
	padding: 0.5em;
}
.modal__icon {
	display: block;
	margin: auto;
	width: 2.25em;
	height: 2.25em;
}
.modal__icon--blue g {
	stroke: hsl(223,90%,50%);
}
.modal__icon--red g {
	stroke: hsl(3,90%,50%);
}
.modal__icon--green g {
	stroke: hsl(138,90%,40%);
}
.modal__icon circle,
.modal__icon line,
.modal__icon polyline {
	animation: sdo 0.25s ease-in-out forwards;
	transition: stroke var(--trans-dur);
}
.modal__icon :nth-child(2) {
	animation-delay: 0.25s;
}
.modal__icon :nth-child(3) {
	animation-delay: 0.5s;
}
.modal__icon-sdo10 {
	stroke-dashoffset: 10;
}
.modal__icon-sdo14 {
	stroke-dashoffset: 14.2;
}
.modal__icon-sdo69 {
	stroke-dashoffset: 69.12;
	transform: rotate(-90deg);
	transform-origin: 12px 12px;
}
.modal__message {
	animation-delay: 0.1s;
	font-size: 1em;
	margin-bottom: 1.5em;
	min-height: 3em;
}
.modal__progress {
	flex: 1;
}
.modal__progress + .modal__button {
	margin-top: 1.75em;
}
.modal__progress-bar {
	background-image: linear-gradient(90deg,hsl(var(--hue),90%,50%),hsl(var(--hue),90%,70%));
	border-radius: 0.2em;
	overflow: hidden;
	width: 100%;
	height: 0.4em;
	transform: translate3d(0,0,0);
}
.modal__progress-fill {
	background-color: hsl(var(--hue),10%,90%);
	width: inherit;
	height: inherit;
	transition: transform 0.1s ease-in-out;
}
.modal__progress-value {
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1.333;
	text-align: right;
}
.modal__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.modal__title {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	text-align: center;
}
/* state change */
[data-state="2"]:before {
	background-color:transparent;
}
[data-state="3"]:before {
	background-color:transparent;
}
.modal__icon + .modal__icon,
[data-state="1"] .modal__icon:first-child,
[data-state="2"] .modal__icon:first-child,
[data-state="3"] .modal__icon:first-child,
.modal__content + .modal__content,
[data-state="1"] .modal__content:first-child,
[data-state="2"] .modal__content:first-child,
[data-state="3"] .modal__content:first-child {
	display: none;
}
[data-state="1"] .modal__icon:first-child,
[data-state="2"] .modal__icon:nth-child(2),
[data-state="3"] .modal__icon:nth-child(3),
[data-state="1"] .modal__content:nth-child(2),
[data-state="2"] .modal__content:nth-child(3),
[data-state="3"] .modal__content:nth-child(4) {
	display: block;
}
[data-ready="false"] .modal__content:first-child .modal__actions:nth-of-type(2),
[data-ready="true"] .modal__content:first-child .modal__actions:first-of-type {
	display: none;
}
[data-ready="true"] .modal__content:first-child .modal__actions:nth-of-type(2) {
	display: flex;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,35%);
		--fg: hsl(var(--hue),10%,95%);
	}
	.modal {
		color: white;
	}
	.modal__close-button,
	.modal__message,
	.modal__progress-value {
		color: hsl(var(--hue),10%,70%);
	}
	.modal__close-button:hover,
	.modal__close-button:focus-visible {
		color: hsl(var(--hue),10%,80%);
	}
	.modal__file-icon {
		color: hsl(var(--hue),10%,60%);
	}
	.modal__icon--blue g {
		stroke:white;
	}
	.modal__icon--red g {
		stroke: hsl(3,90%,60%);
	}
	.modal__icon--green g {
		stroke: hsl(138,90%,60%);
	}
	.modal__progress-fill {
		background-color: hsl(var(--hue),10%,20%);
	}
}

/* Animations */
@keyframes fadeSlideIn {
	from { opacity: 0; transform: translateY(33%); }
	to { opacity: 1; transform: translateY(0); }
}
@keyframes sdo {
	to { stroke-dashoffset: 0; }
}

/* Beyond mobile */
@media (min-width: 768px) {
	.modal__actions--center {
		justify-content: center;
		margin-left: -4.125em;
	}
	.modal__body {
		flex-direction: row;
		align-items: center;
	}
	.modal__button {
		width: auto;
	}
	.modal__button + .modal__button {
		margin-top: 0;
		margin-left: 1.5rem;
	}
	.modal__file ~ .modal__button {
		margin-top: 0;
	}
	.modal__file ~ .modal__close-button {
		margin-right: 1.5rem;
	}
	.modal__progress {
		margin-right: 2em;
	}
	.modal__progress + .modal__button {
		margin-top: 0;
	}
	.modal__col + .modal__col {
		margin-top: 0;
		margin-left: 1.875em;
	}
	.modal__title {
		text-align: left;
	}
}




/*  */

::-webkit-scrollbar{
  width: 0;
}

.user-header-wrapper , #upload{
  display: none;
}


main{
  display: none;
}


@media (max-width:992px) {

  body{
    overflow: auto;
    color: white;
  }
    .loding{
    display: none;
    }


  main{
    display: block;
    background: black;
  }
  


  body{
    background:black;
  }
  

  .screen-1,
  .screen-2,
  .screen-3,.user-header-wrapper{
    border-radius: 0;
    height: auto;
  }

  /* body{
    background: rgb(247,248,248);
background: linear-gradient(297deg, rgba(247,248,248,1) 0%, rgba(189,201,199,1) 100%);
  } */

  /* body{
    overflow: hidden;
  } */

  .user-header-wrapper ,#upload{
    display: block;
  }
  

  .container{
    display: block;
    padding: 0;
    border-radius: 0;
    height: auto;
  box-shadow: none;
  padding-bottom: 5vh;
  }

  .screen-1, .screen-2, .screen-3{
    border-radius: 0;
  }

/* 
  .screen-2, .screen-3{
    display: none;
  } */

  

  .ui--statusbar{
    display: none;
  }

}



/*  */

.main-header__avatars {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.main-header__avatars .main-header__avatar {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid white;
}
.main-header__avatars .main-header__avatar + .main-header__avatar {
  margin-left: -5px;
}
.main-header__avatars .add-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #d8d8d8;
  margin-left: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header__avatars .add-button svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.main-header__add {
  background-color: #ea4e34;
  border: none;
  color: #fff;
  padding: 4px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}
.main-header__add:hover {
  background-color: #e4361a;
}
.main-header__add svg {
  width: 20px;
  height: 20px;
}
.main-header-nav {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 20px 0;
}
.main-header-nav .nav-item {
  color: var(--theme-inactive-color);
  text-decoration: none;
  padding-bottom: 6px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.main-header-nav .nav-item:hover {
  color: #fff;
}
.main-header-nav .nav-item.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.main-header-nav * + * {
  margin-left: 24px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}


.card.clicked {
  position: absolute;
  width: 500px;
  height: 600px;
  z-index: 2;
}

/* IE7 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}



.npd {
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  opacity: 0.7;
  color: white;
}



.clear {
  clear: both;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.wrap {

  position: relative;
  background-color: #22262b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}

.comp {
  width: 100%;
  text-align: center;
}
.comp .monitor {
  width: 100%;
  height: 181px;
  display: block;
  /* border: solid 1px #e0e2e2; */
}
.comp .mid {
  float: left;
  display: block;
  height: 100%;
  position: relative;
  background-color: #abadc6;
  width: 50%;
}
.comp .mid.codigo {
  background-color: #22262b;
}
.comp .site {
  overflow: hidden;
  position: absolute;
  width: 105px;
  height: 138px;
  bottom: 0;
  right: 0;
}
.comp .site .topbar {
  width: 100%;
}
.comp .site .cerrar {
  width: 100%;
  padding: 3px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px 4px 0px 0px;
  background-color: #afa895;
}
.comp .site .cerrar > div {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: white;
  margin: 0px 1px;
}
.comp .site .inhead {
  padding: 2px;
  height: 5px;
  background-color: #ddd8cf;
}
.comp .site .inhead .item {
  width: 10px;
  height: 1px;
  background-color: #d1c9bf;
  margin: 0 1px;
  display: block;
  float: left;
}
.comp .txr {
  text-align: right;
}
.comp .txr .item {
  float: right;
}
.comp .inslid {
  width: 100%;
  height: 33px;
  background-color: #efebe2;
}
.comp .incont {
  padding-top: 10px;
  background: #fefaf0;
}
.comp .incont .item {
  background-color: #d1c9bf;
  width: 53px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 1px;
}
.comp .incont .item:nth-child(1) {
  width: 20px;
}
.comp .incont .item:nth-child(2) {
  margin-top: 3px;
  width: 41px;
}
.comp .incont .item:nth-child(3) {
  width: 32px;
}
.comp .incont .item:nth-child(4) {
  width: 23px;
}
.comp .incont .wid {
  width: 100%;
  padding: 8px 1px;
}
.comp .incont .wid .itwid {
  width: 33.333%;
  float: left;
  height: 26px;
  padding: 0px 3px;
}
.comp .incont .wid .itwid > div {
  width: 100%;
  height: 100%;
  background-color: #f5f1e6;
  position: relative;
}
.comp .incont .wid .itwid > div .contfoot {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #ebe5dc;
}
.comp .incont .infoot {
  background-color: #efebe2;
  height: 26px;
  width: 100%;
}
@-webkit-keyframes code {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes code {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.comp .codigo {
  padding: 12px 0px 14px 14px;
}
.comp .codigo .var {
  background-color: #ac5e47;
  -webkit-animation: code;
          animation: code;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.comp .codigo .cont {
  background-color: #464748;
  -webkit-animation: code;
          animation: code;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.comp .codigo .fun {
  background-color: #fbb053;
  -webkit-animation: code;
          animation: code;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.comp .codigo .atr {
  background-color: #645572;
  -webkit-animation: code;
          animation: code;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.comp .codigo .item {
  height: 4px;
  width: 20px;
  float: left;
  margin-right: 3px;
  border-radius: 3px;
}
.comp .codigo .item.min {
  width: 13px;
}
.comp .codigo .item.lrg {
  width: 50px;
}
.comp .codigo .line {
  padding: 2px 0;
  width: 100%;
}
.comp .codigo .tab1 {
  padding-left: 5px;
}
.comp .codigo .tab2 {
  padding-left: 8px;
}
.comp .codigo .tab3 {
  padding-left: 10px;
}
.comp .codigo .tab4 {
  padding-left: 12px;
}

.base {
  width: 338px;
  height: 12px;
  background: #e0e2e2;
  display: block;
  margin: 0 auto;
  display: none;
  border-radius: 0px 0px 6px 6px;
}

